OPTION_EGLIBC_ADVANCED_INET6 = n
OPTION_EGLIBC_BACKTRACE = n
OPTION_EGLIBC_BIG_MACROS = n
OPTION_EGLIBC_BSD = n
OPTION_EGLIBC_CATGETS = n
OPTION_EGLIBC_CHARSETS = n
OPTION_EGLIBC_DB_ALIASES = n
OPTION_EGLIBC_ENVZ = n
OPTION_EGLIBC_FCVT = n
OPTION_EGLIBC_FMTMSG = n
OPTION_EGLIBC_FSTAB = n
OPTION_EGLIBC_FTRAVERSE = y
OPTION_EGLIBC_GETLOGIN = n
OPTION_EGLIBC_IDN = n
OPTION_EGLIBC_INET_ANL = n
OPTION_EGLIBC_LIBM_BIG = n
OPTION_EGLIBC_LOCALE_CODE = y
OPTION_EGLIBC_MEMUSAGE = n
OPTION_EGLIBC_NIS = n
OPTION_EGLIBC_RCMD = n
OPTION_EGLIBC_STREAMS = n
OPTION_EGLIBC_UTMPX = n
OPTION_EGLIBC_WORDEXP = n
