*.a
*.o
.deps

config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
Makefile
Makefile.in

COPYING
INSTALL
acinclude.m4
aclocal.m4
autom4te.cache/
install-sh
libtool
ltmain.sh
missing
stamp-h1

